.td{
	border-collapse: collapse;
	padding: 15px;
}

#container {
    width:100%;
    text-align:center;
}

#left {
    float:left;
}

#center {
    display: inline-block;
    margin:0 auto;
}

#right {
    float:right;
}
html {
  height: 100%;
  box-sizing: border-box;
}


